<div class="genre-buttons">
  <ng-container *ngFor="let genre of movie; let i = index">
    <ng-container *ngIf="category === 'movie'">
      <a [routerLink]="['/home', 'genre-list', 'movie', genre.id]">
        <button class="genre" [ngClass]="genreColors[i % genreColors.length]">{{ genre.name }}</button>
      </a>
    </ng-container>
  </ng-container>
  <ng-container *ngFor="let genre of tv; let i = index">
    <ng-container *ngIf="category === 'tv'">
      <a [routerLink]="['/home', 'genre-list', 'tv', genre.id]">
        <button class="genre" [ngClass]="genreColors[i % genreColors.length]">{{ genre.name }}</button>
      </a>
    </ng-container>
  </ng-container>
</div>