<nav class="sidebar">
  <ul>
    <li><img src="/assets/images/home.svg" alt="home-image"></li>
    <li routerLink="/home/dashboard" routerLinkActive="active"><img src="/assets/images/dashboard.svg"
        alt="dashboard-image"></li>
    <li routerLink="/home/moviegenre" routerLinkActive="active"><img src="/assets/images/movie.svg"
        alt="moviegenre-image"></li>
    <li routerLink="/home/tvgenre" routerLinkActive="active"><img src="/assets/images/tv-series.svg"
        alt="tvgenre-image"></li>
    <li routerLink="/home/bookmark" routerLinkActive="active"><img src="/assets/images/bookmark.svg"
        alt="bookmarks-image"></li>
    <li>
      <img src="assets/images/profile-icon.svg" (click)="openDialog()" alt="profile-image">
    </li>

  </ul>
</nav>