@import '/src/variables';

.home-container {
  background: $home-background;
  margin: 0;
  padding: 1.5rem 3rem 0 1.5rem;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.side-bar {
  position: fixed;
  z-index: 2;
}

.router-container {
  margin: 0 2rem 0 6.5rem;
}

.logout {
  display: none;
}

@media screen and (max-width: 1024px) {
  .home-container {
    padding: 0 2rem 0 0;
  }

  .side-bar {
    align-self: flex-end;
    width: 100%;
    bottom: 0;
  }

  .router-container {
    padding: 0 1rem;
    margin: 0;
  }
}
