.search-bar {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
  }
.bookmark{
    margin-top: 8rem;
}
// .bookmark-icon {
//     position: absolute;
//     top: 1rem;
//     right: 1rem;
//     width: 24px;
//     height: 24px;
//     background-image: url('/assets/images/bookmark.png'); // Add the path to your bookmark icon image
//     background-size: cover;
//     cursor: pointer;
// }

// .bookmark-container {
//     display: flex;
//     flex-direction: column;
//     padding: 4rem 0;
// }

// .bookmark-heading {
//     font-size: 1.8rem;
//     font-weight: 400;
//     margin: 0;
//     color: #ffffff;
// }

// .bookmark-list {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     gap: 1.5rem;
// }

// .bookmark-image {
//     width: 20rem;
//     height: 13rem;
//     border-radius: 1rem;
//     margin-top: 1rem;
// }

// .remove-button {
//     background: red;
//     color: white;
//     border: none;
//     padding: 0.5rem 1rem;
//     border-radius: 0.5rem;
//     cursor: pointer;
// }
