// .search-container{
//     display: flex;
//     flex-direction: row;
//     gap: 25rem;
//     background: #181728;
//     height: 6rem;
//     align-items: flex-end;
//     padding: 0 0rem 2rem 0;
// }

  
.search-bar {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%
  }
  