@import "/src/variables";

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-ott {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  color: $login-span-color;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: $white-color;
  margin: 0.1rem 0 0.5rem;
}

.text {
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  color: $white-color;
}

.form-button {
  width: 10.9rem;
  height: 2.5rem;
  border: none;
  font-family: $base-font-family;
  font-size: 1rem;
  font-weight: 500;
  color: $white-color;
  text-align: center;
  border-radius: 0.5rem;
  background: $login-span-color;
  margin-top: 2.5rem;
  cursor: pointer;
}

.error-message {
  font-size: 0.9rem;
  color: $span-color;
}

.error-border {
  border: 1px solid red;
}

.movie-heading {
  font-size: 2.3rem;
  font-weight: 375;
  margin: 0;
  color: $white-color;
}

.error-message-container {
  background: url("/assets/images/error-message.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5rem 0 0 3.5rem;
}

.media-list-container {
  position: relative;
  max-height: 24rem;
}

.media-list {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  max-height: inherit;
  transition: transform 0.3s;
}

.media-image {
  object-fit: cover;
  width: 100%;
  height: 61%;
  border-radius: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.bookmark-icon {
  text-align: right;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  cursor: pointer;
}

.carousel-media-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: $gray-color;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.06em;
}

.media-logo {
  width: 1rem;
  height: 1rem;
}

.dot {
  margin-bottom: 0.5rem;
}

.media-name {
  color: $white-color;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.navigation-button {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 7.5rem;
}

.navigation-button:first-child {
  left: 2rem;
}

.navigation-button:last-child {
  right: 2rem;
}

.navigation-button:hover {
  background-color: $gray-color;
  border-radius: 50%;
}

.vertical-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 23.5rem;
  grid-column-gap: 3rem;
}

.vertical-display-bookmark {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.media-info {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 7rem 0 4rem;
}

.media-details-image {
  width: 30%;
  border-radius: 1rem;
}

.media-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem;
  gap: 1rem;
}

.media {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.media-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.media-details-name {
  font-size: 3rem;
  font-weight: 500;
  color: $white-color;
  margin: 0;
}

.rating {
  font-size: 2rem;
  font-weight: 400;
  color: $white-color;
}

.detail-title {
  font-size: 1.25rem;
  font-weight: 400;
  color: $base-gray;
}

.detail-discription {
  font-size: 1.25rem;
  font-weight: 500;
  color: $white-color;
}

.genre-button-allign {
  display: flex;
  gap: 0.5rem;
}

.genre-button {
  padding: 0.35rem 0.75rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: $backy-blue;
}

.overview {
  font-size: 1rem;
  font-weight: 400;
  color: $base-gray;
  padding-top: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .media-info {
    flex-direction: column;
    gap: 1rem;
    padding: 9rem 0 10rem 0;
  }

  .media-details-image {
    width: 100%;
    height: 30rem;
    border-radius: 1.5rem;
  }

  .vertical-display {
    grid-template-columns: repeat(2, 1fr);
  }

  .vertical-display-bookmark {
    margin: 1.5rem 0 0 17rem;
  }
}

@media screen and (max-width: 768px) {
  .media-list {
    gap: 1.5rem;
  }

  .movie-heading {
    font-size: 2rem;
  }

  .navigation-button {
    top: 6rem;
  }

  .media-name {
    font-size: 1rem;
  }

  .media-details-container {
    gap: 1rem;
  }

  .media-details-image {
    height: 20rem;
  }

  .media-details-name {
    font-size: 2rem;
  }

  .rating {
    font-size: 1.5rem;
  }

  .detail-title,
  .detail-discription {
    font-size: 1rem;
  }

  .vertical-display {
    grid-auto-rows: 18rem;
    grid-column-gap: 2rem;
  }

  .form-button {
    margin-top: 0;
  }
}
