$base-font-family: "poppins", sans-serif;
$white-color: #ffffff;
$register-background: #1d253a;
$home-background: #181728;
$login-span-color: #bb261a;
$login-a-color: #62d5ba;
$blue-color:  #1d253a;
$black-color: #000000;
$span-color:  #eb3223;
$blackish-gray: #333333;
$base-white: #fafafa;
$gray-color: #afb2b9;
$base-green:#0f766e;
$base-blue: #0e7490;
$dark-blue: #171e31;
$base-gray:#ffffff80;
$violet-color: #5a6a90;
$base-orange: #ED4E4E;
$backy-blue: #10141e;
