@import "/src/variables";

.signup {
  gap: 1.5rem;
  background: linear-gradient(
      130.6deg,
      #130908 -32.04%,
      rgba(19, 9, 8, 0) -32.02%,
      #370c0f 100%
    ),
    url("/assets/images/background-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.register-container {
  background: $blue-color;
  border-radius: 0.75rem;
  padding: 2rem 2.9rem 2.5rem;
}

.heading-properties {
  font-size: 1.2rem;
}

.register-form {
  gap: 2rem;
}

.register-input-field {
  width: 28.1rem;
  border-radius: 0.5rem;
  background: $home-background;
  border: 1px solid transparent;
  outline: none;
  color: $white-color;
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.form-register-button {
  margin-top: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .register-container {
    padding: 2rem 2rem 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .register-input-field {
    width: 14rem;
  }
}
